<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.customer.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TipeResep"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".DetailResep"
            android:parentActivityName=".TipeResep">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TipeResep" />
        </activity>
        <![CDATA[>
        ]]>
        <activity android:name=".MainActivity" />
        <activity android:name=".MasukActivity" />
        <activity
            android:name=".InputActivity"
            android:label="Input"
            android:parentActivityName=".TipeResep">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TipeResep" />
        </activity>
        <activity android:name=".balado" />
        <activity android:name=".History"
            android:parentActivityName=".TipeResep">
        </activity>
    </application>

</manifest>